<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.obd.graphs.aa">

    <uses-permission android:name="androidx.car.app.ACCESS_SURFACE"  android:required="false"/>
    <uses-permission android:name="androidx.car.app.NAVIGATION_TEMPLATES"  android:required="false"/>

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:supportsRtl="true">

        <meta-data android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <meta-data android:name="androidx.car.app.minCarApiLevel"
            android:value="1"
            tools:ignore="MetadataTagInsideApplicationTag" />

        <service
            android:name=".CarService"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
                <category android:name="androidx.car.app.category.IOT"/>
                <category android:name="androidx.car.app.category.NAVIGATION"/>
                <category android:name="androidx.car.app.category.FEATURE_CLUSTER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="androidx.car.app.action.NAVIGATE" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="geo" />
            </intent-filter>

        </service>
    </application>
</manifest>